@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=PT+Serif:ital@0;1&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Open+Sans&family=PT+Serif:ital@0;1&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Open+Sans&family=PT+Serif:ital@0;1&family=Poppins:wght@400;500;700&family=Source+Sans+Pro&display=swap');

.App {
  overflow: hidden;
}

.App * {
  flex: none;
  order: 0;
  flex-grow: 0;
  scroll-behavior: smooth;
}

.vanlogo {
  position: absolute;
  width: 107px;
  height: 83px;
  left: 100px;
  top: 33px;
}

svg {
  position: absolute;
  width: 752px;
  height: 839px;
  /* left: calc(50% - 735px/2 + 352.5px); */
  /* left: 688px; */
  right: 0px;
  top: -1px;
}

.pizza {
  position: relative;
  width: 735px;
  height: 804px;
  left: calc(100vw - 735px - 25px);
  top: calc(50% - 804px/2 - 1356.5px);
  border-radius: 0px 0px 0px 198.902px;
}


.bestfood {
  position: absolute;
  width: 345px;
  height: 207px;
  left: 100px;
  top: 227px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 69px;
  /* or 111% */
  /* primary */
  color: #0E2368;

}

.explorebutton>span {
  width: 121px;
  height: 36px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #FFFFFF;

}

.explorebutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 34px;
  /* gap: 7px; */
  position: absolute;
  /* width: 190px; */
  /* height: 63px; */
  left: 97px;
  top: 556px;
  background: #E23744;
  border-radius: 34px;
}

.more {

  position: absolute;
  width: 43px;
  height: 27px;
  left: 899px;
  top: 2535px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18.8433px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #0E2368;
}

#grp177 {
  position: absolute;
  width: 232px;
  height: 186px;
  left: 475px;
  top: 2535px;
}


#grp218 {
  position: absolute;
  width: 232px;
  height: 145px;
  left: 475px;
  top: 2576px;
}

#submore {
  position: absolute;
  width: 94px;
  height: 26px;
  left: 899px;
  top: 2695px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #646874;

}

#contactuslorem {
  position: absolute;
  width: 217px;
  height: 69px;
  left: 476px;
  top: 2576px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14.6559px;
  line-height: 23px;
  color: #646874;

}

#loremfood {
  width: 295px;
  height: 81px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #444957;
}

.grp45 {
  position: absolute;
  width: 197px;
  height: 25px;
  left: 1140px;
  top: 2696px;
}

.links {
  position: absolute;
  width: 197px;
  height: 25px;
  left: 1140px;
  top: 2696px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14.6559px;
  line-height: 25px;
  text-align: center;
  color: #828B9C;
}

.contactus {
  white-space: nowrap;
  position: absolute;
  width: 94px;
  height: 27px;
  left: 475px;
  top: 2535px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18.8433px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #0E2368;

}

.natural {
  position: absolute;
  width: 345px;
  height: 55px;
  left: 100px;
  top: 460px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16.4447px;
  line-height: 27px;
  color: #444957;
}

.getintouch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 26px;
  gap: 10px;

  position: absolute;
  width: 122px;
  height: 42px;
  left: 1277px;
  top: 32px;

  border: 1px solid #FFFFFF;
  border-radius: 21px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */

  letter-spacing: 0.03em;

  color: #FFFFFF;

}

.getintouch>img {
  width: 16px;
  height: 16px;
}

.rec409 {
  z-index: 0;
  position: absolute;
  width: 1440px;
  height: 467px;
  left: 0px;
  top: 989px;

  background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
}

/* .rec409 .about {
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* .rec409 #lorem1 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.rec409 #readmoreabout {
  flex: none;
  order: 1;
  flex-grow: 0;
} */

.rec404 {
  position: absolute;
  width: 1440px;
  height: 653px;
  left: 0px;
  top: 803px;

  background: #FFFFFF;
}

#pharma {
  position: relative;
  width: 384px;
  height: 468px;
  left: 205px;
  /* top: 989px; */
}

.about {
  width: 422px;
  height: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 27px;
  color: #0E2368;
}

#lorem1 {
  width: 447px;
  height: 138px;
  width: 447px;
  height: 138px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  justify-content: center;
  text-align: justify;
  color: #444957;
}

.readmore {
  width: 80px;
  height: 36px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
  color: #424961;
}

.vanlogo2 {
  position: absolute;
  width: 161px;
  height: 125px;
  left: 104px;
  top: 2574px;
}

#compfb {
  position: absolute;
  left: 91.46%;
  right: 7.08%;
  top: 72.95%;
  bottom: 26.45%;
}

#rec391 {
  position: absolute;
  left: 83.89%;
  right: 14.65%;
  top: 72.95%;
  bottom: 26.45%;
}

.path1 {
  position: absolute;
  left: 91.82%;
  right: 7.42%;
  top: 72.95%;
  bottom: 26.45%;
  background: #0E2368;
}

#frame7 {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 1236px;
  top: 2549px;
}

#rec393 {
  position: absolute;
  left: 87.89%;
  right: 10.64%;
  top: 72.96%;
  bottom: 26.45%;

}

.path2 {
  position: absolute;
  left: 87.89%;
  right: 10.64%;
  top: 73.03%;
  bottom: 26.48%;
  background: #0E2368;
}

#rec392 {
  position: absolute;
  left: 91.46%;
  right: 7.08%;
  top: 72.95%;
  bottom: 26.45%;
}

.path3 {

  position: absolute;
  left: 83.89%;
  right: 14.65%;
  top: 72.95%;
  bottom: 26.45%;

  background: #0E2368;
}

.social {
  position: absolute;
  width: 129px;
  height: 27px;
  left: 1208px;
  top: 2535px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  /* identical to box height, or 142% */
  letter-spacing: 0.03em;
  color: #0E2368;

}

.latest {
  position: absolute;
  width: 461px;
  height: 84px;
  left: 108px;
  top: 1614px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 42px;
  /* or 75% */
  letter-spacing: 0.04em;
  color: #0E2368;

}

.food {
  display: grid;
  grid-template-columns: auto auto auto;
}

.tomato {
  position: absolute;
  width: 326px;
  height: 257px;
  left: 135px;
  top: 1766px;
  border-radius: 21px;
  width: 285px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #0E2368;
}

.pre {
  position: absolute;
  width: 326px;
  height: 258px;
  left: 557px;
  top: 1766px;
  border-radius: 21px;
  width: 186px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #0E2368;

}

.post {
  position: absolute;
  width: 326px;
  height: 258px;
  left: 979px;
  top: 1766px;
  border-radius: 21px;
  width: 238px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #0E2368;

}

.bor {
  box-sizing: border-box;
  border: 1.37039px solid rgba(147, 162, 211, 0.38);
  border-radius: 20.937px;
}


.soup {
  position: absolute;
  width: 326px;
  height: 258px;
  left: 2425px;
  top: 1767px;

  border-radius: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #0E2368;
}

.taco {
  position: absolute;
  width: 326px;
  height: 258px;
  left: 2003px;
  top: 1767px;
  border-radius: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #0E2368;
}

.corn {
  position: absolute;
  width: 326px;
  height: 257px;
  left: 1581px;
  top: 1767px;
  border-radius: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  color: #0E2368;
}

#frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27.41px;

  width: 447px;
  height: 191.41px;
}

#frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;

  width: 447px;
  height: 192px;
}

#frame6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;

  position: absolute;
  width: 447px;
  height: 254px;
  left: 789px;
  top: 107px;

}

#readmoreabout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 26px;
  gap: 10px;
  width: 132px;
  height: 42px;
  background: #E23744;
  border-radius: 21px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}


.readdown {
  white-space: nowrap;
  /* width: 79px;
  height: 36px; */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16.4447px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #424961;
  padding: 3px 26px;
  gap: 10px;


}

.c * {
  position: absolute;
  color: #646874;
  line-height: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14.6559px;
}

#c1 {
  width: 217px;
  height: 69px;
  left: 476px;
  top: 2576px;
}

#c2 {
  width: 232px;
  height: 23px;
  left: 475px;
  top: 2660px;
}

#c3 {
  width: 91px;
  height: 23px;
  left: 475px;
  top: 2698px;
  text-align: center;
}

.m * {
  position: absolute;
  font-family: 'Source Sans Pro';
  font-style: normal;
  line-height: 27px;
  font-weight: 400;
  color: #646874;

}

#m1 {

  width: 75px;
  height: 26px;
  left: 899px;
  top: 2576px;
  font-size: 14.6559px;
}

#m2 {
  position: absolute;
  width: 153px;
  height: 26px;
  left: 899px;
  top: 2616px;
  font-size: 15px;

}

#m3 {

  position: absolute;
  width: 86px;
  height: 26px;
  left: 899px;
  top: 2656px;
  font-size: 15px;

}

#m4 {
  position: absolute;
  width: 94px;
  height: 26px;
  left: 899px;
  top: 2695px;
  font-size: 15px;
}